*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.hero{
	position: relative;
	width: 100%;
	height: 100vh;
	background: black;
}

nav{
	display: flex;
	width: 80%;
	margin: auto;
	padding: 20px 0;
	align-items: center;
	justify-content: space-between;
}

nav ul li{
	display: inline-block;
	list-style: none;
	margin: 10px 20px;
}

nav ul li a{
	text-decoration: none;
	color: #3EB489;
	font-weight: bold;
}

nav ul li a:hover{
	color: #FF160C;
}

.detail{
	margin-left: 8%; 
	margin-top: 13%;
}

.detail h1{
	font-size: 50px;
	color: white;
	margin-bottom: 20px;
}

span{
	color: #7FFFD4 ;
}

.detail p{
	color: #555;
	line-height: 22px;
} 

.detail a{
	background: #F33221;
	padding: 10px 18px;
	text-decoration: none;
	font-weight: bold;
	color: #FFFF;
	display: inline-block;
	margin: 30px 0;
	border-radius: 5px; 
}

.images{
	width: 45%;
	height: 80%;
	position: absolute;
	bottom: 0;
	right: 100px;
}

.images img{
	height: 100%;
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	transition: bottom 1s, left 1s;
}

.images:hover .shape{
	bottom: 40px;
}

.images:hover .pat{
	left: 45%;
}
	
	
	